/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.filters {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  gap: 10px;

  .filter-btn {
    border-radius: 60px;
    color: #1d6154;
    border: #1d6154 1px solid;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px 10px 20px;
    font-family: "Syne";
    background-color: white;
  }

  .active {
    color: white;
    background-color: #1d6154;
  }
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #b1663c;
}
/****** Login ***********/
#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 33%;
  }
  .form-mail {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .form-password {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  button {
    width: 50%;
    padding: 5px 15px 5px 15px;
    border-radius: 60px;
    margin: auto;
    font-family: "Syne";
    color: white;
    background-color: #1d6154;
    border: none;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
  }
  a {
    font-family: "Work sans";
    margin: auto;
    font-size: 14px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

.error {
  display: none;
  color: red;
  align-self: center;
}
/************************/
/************************/
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.button-class {
  width: 40%;
  border-radius: 60px;
  font-family: "Syne";
  color: white;
  background-color: #1d6154;
  border: none;
  font-weight: 700;
  font-size: 14px;
  margin-top: 30px;
  padding: 10px 0px 10px 0px;
}
.form-input {
  box-shadow: 0px 4px 14px 0px #00000017;
  border: none;
  height: 50px;
  box-sizing: border-box;
  font-size: 14px;
  padding-left: 10px;
}
.form-input:focus {
  outline: #1d6154 1px solid;
}
.form-label {
  font-family: "Work sans";
  font-size: 14px;
}
/**************************/
/********Modal*************/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;

  .card-modal {
    border-radius: 10px;
    background-color: white;
    height: 688px;
    width: 44%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 30px 20px;
    box-sizing: border-box;

    h2 {
      font-family: "Work Sans";
      color: black;
      font-weight: 400;
      font-size: 26px;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
}
.container-modal {
  display: grid;
  align-content: start;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  overflow-y: auto;
  gap: 10px;
  width: 70%;
  img {
    width: 100%;
    max-height: 100%;
  }
  .delete-img {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
  .image-wrapper {
  position: relative; 
  display: inline-block;
}
}
input[type="file"] {
  opacity: 0;  
  position: absolute;
  width: 10%;
  height: 10%;
  pointer-events: none;
}

#form-add:valid{
  .button-class-add {
    background-color:#1d6154;
  }
}
#form-add {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .button-class-add {
  width: 40%;
  border-radius: 60px;
  font-family: "Syne";
  color: white;
  background-color:#A7A7A7;
  border: none;
  font-weight: 700;
  font-size: 14px;
  margin-top: 30px;
  padding: 10px 0px 10px 0px;
}
  .background {
    cursor: pointer;
    display: flex;
    max-height: 170px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: #e8f1f6;
    padding: 15px;
    gap: 10px;
    border: none;
  }
  #button-add {
    
    background-color: #cbd6dc;
    color: #306685;
    font-family: "Work Sans";
    font-weight: 500;
    width: 40%;
    border-radius: 60px;
    border: none;
    font-size: 14px;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
  }
  p {
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 10px;
  }
}
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
hr {
  border: 1px solid #b3b3b3;
  width: 100%;
  box-sizing: border-box;
}
select {
  appearance: none;
  background: url("./icons/Fleche.svg") no-repeat right 25px center / 15px;
  color: #6c6c6c;
}
/*******************************/



